@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');


:root{
    --primaryColor: rgb(236, 158, 14);
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #111;
    font-weight: 500;
    scroll-behavior: smooth;
}

h3, h2{
    color: #111;
}

.container{
    background-color: #fff;
    position: relative;
}

    /* width */
    ::-webkit-scrollbar {
    width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 5px 5px grey; 
        /* border-radius: 1em; */
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(57, 42, 1);
    /* border-radius: 1em; */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(10, 7, 0);
    }


.nav{
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top:0;
    z-index: 1000000;
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: fit-content;
    margin: 3em auto;
    background-color: rgb(245, 202, 147);
    height: 2em;
    padding: 1.5em .5em;
    border-radius: 2em;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: nowrap;
}

.navlinks .navitem a{
    padding: .7em 1em;
    border-radius: 2em;
    transition: .4s ease-in;
    cursor: pointer;
    font-size: .8em;
}

.navlinks .navitem a:hover{
    background:  var(--primaryColor);
    color: #fff;
}
.navitem.active a{
    background:  var(--primaryColor);
    color: #fff;
}

.hero{
    width: 100%;
    position: relative;
    /* margin-top: -1em; */
    height: 100vh;
    background-image: linear-gradient(45deg,rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../img/kids.webp');
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.hero .title h3{
    font-size: 3em;
    font-family: 'Rubik Beastly', cursive;
    color: #fff;
    font-weight: 400;
}

.title h3 span{
    color: var(--primaryColor);
    font-family: 'Rubik Beastly', cursive;
    
}

.hero .subtitle{
    margin-top: 2em;
}

.subtitle h3{
    color: #fff;
    font-size: 2em;
}

.hero .btns{
    padding-top: 4em;
}

.hero .btns a{
    background-color: var(--primaryColor);
    padding:.5em 2em;
    color: #fff;
    border-radius: 0.3em;
    font-size: .8em;
    margin: .5em;
    transition: .3s ease-in;
}
.hero .btns a:last-child{
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
}
.hero .btns a:last-child:hover{
    background-color: transparent;
    /* border: 1px solid #111; */
}
.hero .btns a:hover{
    background-color: #111;
}

.about {
    width: 100%;
    /* height: 100vh; */
    z-index:1000;
    background: #fff;
    /* position: absolute;
    top:100vh; */
    /* padding-top: 8em; */
}


/* GALLERY  */

.about .gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    /* height: 100vh; */
}

.about h3{
    font-size: 1.4em;
    text-align: center;
    color: #111;
    margin-bottom: 3em;
}

.about .gallery .pics{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about .gallery .pics .row{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.about .pics .item{
    width: 15em;
    height: 12em;
    border-radius:1em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    cursor: pointer;
    transition: .3s ease-in;
}
.about .pics .item:hover{
   transform: scale(1.02);
   box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.gallery .pics  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 1em;
}

.about .gallery .pics > a{
    background:  #111;
    color: #fff;
    padding: .4em 2em;
    border-radius: 1em;
    font-size: .8em;
    transition: .3s ease-in;
}
.about .gallery a:hover{
    background: var(--primaryColor);
}

.about .shop{
    width: 100%;
    height: 100%;
    background: rgba(248, 243, 228, 0.5);
    padding-top: 1em;
}

.items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 80%;
    flex-wrap: wrap;
    
}

 .item{
    width: 15em;
    height: 15em;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: .5em;
    position: relative;
    background: rgba(255, 255, 255,0.75);
    cursor: pointer;
    transition: .3s ease-in;
}

.item:hover{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
 .item img{
    width: 100%;
    height: 80%;
    border-radius: .5em;
    object-fit: cover;
    filter: brightness(75%);
}

 .item .ifooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.ifooter i{
    color: var(--primaryColor);
    background-color: transparent;
    border:  1px solid var(--primaryColor);
    padding: .5em;
    border-radius: 50%;
    transition: .3s ease-in;
}
.ifooter i:hover{
    background: var(--primaryColor);
    color:#fff;
}
#toshop{
    border: 1px solid var(--primaryColor);
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 3em;
    color: var(--primaryColor);
    font-weight: 500;
    font-size: .8em;
    padding: 1em;
    border-radius: 2em;
    transition: .3s ease-in;
}
#toshop:hover{
    background: var(--primaryColor);
    color: #fff;
}

.testm{
    padding: 1em;
    text-align: center;
}

.testm > h2{
    margin-bottom: 1em;
}

.testm .t_items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.t_items .t_item{
    position: relative;
    width: 20em;
    /* height: 21em; */
    border: 1px solid rgb(184, 183, 183);
    border-radius: .5em;
    padding: 0;
    background-color: #fff;
}

.t_item .img{
    width: 100%;
    height: 13em;
}

.t_item img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .5em .5em 0 0;
    object-fit: cover;
}

.t_item .txt{
    padding: 1em;
    margin: auto;
    text-align: center;
}

.t_item i{
    font-size: 1em;
    padding: .5em;
    color: var(--primaryColor);
}

.t_item h4{
    font-weight: 600;
}

.t_item p{
    font-size: .8em;
    padding-top: 1em;
    font-weight: 400;
}


.help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    gap: 1em;
}

.help input{
    border: 1px solid #ccc;
    outline: none;
    height: 35px;
    width: 20em;
    padding:1em;
    border-top-left-radius: .6em;
    border-bottom-left-radius: .6em;
}

.help .input{
    display: flex;
    justify-content: center;
    align-items: center;

}

.help a{
    background: var(--primaryColor);
    color: #fff;
    height: 35px;
    padding: 0 1em;
    border-top-right-radius: .6em;
    border-bottom-right-radius: .6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}



/* shop */

.shopcover{
    width: 100%;
    height: 100vh;
    margin-top: -9em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/download.jpeg);
    background-size: contain;
    background-attachment: fixed;
}

.shopcover .title h2{
    color: #fff;
    font-size: 1.3em;
}

@keyframes arrowDown {
    
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.s_btn a{
    border: 1px solid var(--primaryColor);
    padding: 1em;
    border-radius: 5em;
    color: #fff;
    padding: .5em 2em;
    transition: .3s ease-in;
}
.s_btn a:hover{
    background: var(--primaryColor);    
}

.s_btn a i{
    color: #fff;
    animation: 1s arrowDown infinite;
}


/* FOOTER */

.footer{
    background: rgb(248, 237, 186);
    padding: 1em;
}


.footer footer{
    display: flex;
    justify-content: space-around;
    gap: 3em;
}

.footer .col h3{
    padding-bottom: 1em;
    color: #111;
}

.footer .col .f_items{
    display: flex;
    flex-direction: column;
    gap: 0;
}


.f_items a{
    font-size: .8em;
    transition: .3s ease-in;
    color: #222;
    /* text-align: center; */
}
.f_items a:hover{
    /* letter-spacing: .1em; */
    text-decoration: underline;
}


.cpyright{
    padding: 3em 0;
    font-size: .8em;
    text-align: center;
}

.footer .col.contact .f_items{
    flex-direction: row;
    gap: 1em;
    
}
    
.f_items .col.contact a:hover{
    transform: scale(1.01);
    letter-spacing: 0;
}
.footer .col.contact i{
    font-size: 1.2em;
    background-color: var(--primaryColor);
    padding:.5em;
    color: #fff;
    border-radius:50%;
}



/* ABOUT PAGE  */


.about_cover{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/shopCover.jpg);
    background-size: cover;
}

.about_cover .a_title{
    background: rgba(253, 253, 253, 0.15);
    width: 50%;
    border-radius: .4em;
    padding: 1em;
}

.about_cover .a_title h2, h3{
    color: #fff;
    font-weight: 600;
}

.about_cover .txt{
    width: 80%;
    margin: auto;
    padding-top: 3em;
}
.about_cover .txt p{
    color: #fff;
    font-weight: lighter;
    font-size: .8em;

}

.about_cover .btns{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    padding-top: 3em;
}

.about_cover .btns a{
    border: 1px solid var(--primaryColor);
    color: #fff;
    font-size: .8em;
    padding: .5em 1em;
    border-radius: 1em;
    transition: .3s ease-in;
}
.about_cover .btns a:hover{
    background-color: var(--primaryColor);
}

.about_cover .arrow a i{
    font-weight: 600;
    font-size: 1em;
    color: #fff;
    animation: 1s arrowDown infinite;
}

.about_cover .social_icons{
    padding-top: 2em;
}
.about_cover .social_icons i{
    background: var(--primaryColor);
    padding: .4em;
    font-size: 1.3em;
    border-radius: 50%;
    color: #fff;
}

.social_icons a:first-child i{
    background: rgb(175, 11, 107);
}
.social_icons a:nth-child(2) i{
    background: #0a66c2;
}
.social_icons a:nth-child(3) i{
    background: #1877F2;
}
.social_icons a:last-child i{
    background: rgb(60, 72, 213);
}

.about_cover .hash{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    margin: auto;
    padding-top: 1em;
    gap: .4em;
    width: 50%
}

.about_cover .hash span{
    background: rgba(255, 255, 255,0.25);
    padding: .2em .5em;
    border-radius: 1em;
    font-size: .8em;
    cursor: pointer;
}
.about_cover .hash span:hover{
    background: rgba(255, 255, 255,0.45);
}

.designers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

.designers .title{
    padding: .5em;
}

.designers .d_items{
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

}

.d_items .d_item{
    width: 14em;
    height: 20em;
    background: #fff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    /* border: 1px solid var(--primaryColor); */
    transition: .3s ease-in;
    cursor: pointer;
}

.d_item:hover{
    filter: brightness(95%);
}

.d_items .d_item .img{
    width:80%;
    height: 50%;
    border-radius:100%;
}

.d_items .d_item .img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.d_items .d_item .name{
    text-align: center;
    
}

.d_item .info{
    font-size: .8em;
    text-align: center;
    padding-top: 1em;
   
}

.d_item h3{
    color: #111;
}

.d_item .s_icons{
    margin-top: 1em;
}

.d_item .info i{
    color: var(--primaryColor);
}

.d_item .s_icons i{
    font-size: 1.3em;
    margin: 0 .3em;
}

.d_item .s_icons a:first-child i{
    color: magenta;
}
.d_item .s_icons a:nth-child(2) i{
    color: #0a66c2;
}
.d_item .s_icons a:nth-child(3) i{
    color: #1877F2;
}
.d_item .s_icons a:nth-child(4) i{
    color: #1f65c5;
}


/* Services */

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2em;
    background-color: #f7edd8
}

.services .title{
    text-align: center;
    padding-top: 1em;
}

.services .se_items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
    gap: 3em;
}

.se_items .se_item{
    /* border: 1px solid var(--primaryColor); */
    height: 15em;
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #faf8e9;
    cursor: pointer;
    position: relative;
    justify-content: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

.se_item .ico i{
    font-size: 4em;
    color: var(--primaryColor);
}

.se_item .txt h3{
    color: #111;
    margin-top: 2em;
    font-weight: 400;
    text-align: center;
    font-size: .9em;
}

@keyframes Acover{
    0%{
        background: rgba(253, 151, 16, 0.22);
    }
    25%{
        background: rgba(66, 240, 8, 0.22);
    }
    50%{
        background: rgba(240, 8, 143, 0.22);
    }
    75%{
        background: rgba(233, 236, 20, 0.22);
    }
    100%{
        background: rgba(8, 93, 240, 0.22);
    }
}

.se_item .s_cover{
    position: absolute;
    width: 100%;
    height: 0%;
    background: rgba(253, 151, 16, 0.22);
    bottom: 0;
    transition: .6s ease-in;
    animation: 2s Acover infinite;
}

.se_item:hover .s_cover{
    height: 100%;
}

/* EVENTS  */

.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.v_items{
    display: flex;
    gap: 1.4em;
    justify-content: center;
    flex-wrap: wrap;
}

.v_items .v_item{
    width: 18em;
    height: 18em;
    position: relative;
    padding-top: 1em;
    border-radius:.5em;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

}

.v_item .img{
    width: 100%;
    height: 80%;
}

.v_item .img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: .5em .5em 0 0;
}


.v_item .txt{
    text-align: center;
}
.v_item .txt h3{
    color: #111;
    font-weight: 500;
    font-size: 1.1em;
}
.v_item .txt p{
    color: #111;
    font-weight: 500;
    font-size: .8em;
}

.v_item .v_cover{
    height:0%;
    background: rgba(240, 225, 197, 0.5);
    width: 100%;
    position: absolute;
    top: 1em;
    border-radius: .5em;
    transition: .6s ease-in;
    cursor: pointer;
}

.v_item:hover .v_cover{
    height: 90%;
}


/* FOLLOWS  */

.follow{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.follow .social_icons{
    display: flex;
    gap: 1em;
    padding-top: 2em;
}

.follow .social_icons i{
    font-size:1.5em;
    background: transparent;
    /* border: 1px solid var(--primaryColor); */
    color: #fff;
    padding: .5em;
    border-radius: 1em;
}

.follow .contact{
    padding: 1em;
    font-size: .8em
}

.follow .contact a{
    border: 1px solid  var(--primaryColor);
    color: #111;
    padding: .2em;
    border-radius: .4em;
    margin-right: 1em;
    transition: .3s ease-in;
}
.follow .contact a:hover{
    background:  var(--primaryColor);
    color: #fff;
}



/* SHOP CONTUNUED */

.s_main h3{
    color: #111;
}

.foru, .trending, .sports{
    display:  flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 3em;
}

.foru{
    background: #faf9ef;
}
.foru .title, .sports .title, .trending .title {
    padding: 1em;
}

.foru .row, .sports .row, .trending .row{
    width: 100%;
}

.trending{
    background: #fff;
}

.sports{
    background: #fff;
}

.more{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.more .div{margin: .5em;}

.more .div  p a{
    font-size: .8em;
    margin: 0 1em;

}

.more .div a{
    color: #0a66c2;
}

.more i{
    margin-right: .5em;
}


/* CONTACT US  */

.c_cover{
    background: linear-gradient(32deg,rgba(0,0,0,0.5), rgba(255,155,0,0.3)), url("../img/contact1.jpg");
    background-size: contain;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c_cover .title h2{
    color: #fff;
    font-weight: 600;
}

.c_cover .title h4{
    color: #fff;
}

.c_top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c_top .social h2{
    padding: 1.3em;
    text-align: center;
}

.c_top .so_items{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}


.so_items .so_item{
    background: #dadcdd;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 14em;
    height: 12em;
    cursor: pointer;
    transition: .4s ease-in;
    border-radius: 1em;
}
.so_item i{
    font-size: 3em;
    color: #1877F2;
    
    /* display: none; */
}
.so_item.ig i{
    color: #9a096e;
}
.so_item h2{
    font-size: 1.3em;
    transition: .4s ease-in;
    display: none;
}
.so_item p{
    transition: .4s ease-in;
    display: none;
}
.so_item.tw i{
    color: #1f65c5;
}
.so_item.lk i{
    color: #1f65c5;
}
.so_item .s_name{
    position: absolute;
    background: rgba(189, 188, 187, 0.5);
    top: 0;
    width: 100%;
    text-align: center;
    height: 0;
    transition: .4s ease-in;
    border-radius: 1em;
}

.so_item:hover .s_name{
    height: 100%;
}
.so_item:hover .s_name h2{
    display: block;
}
.so_item:hover .s_name p{
    display: block;
}

.visit{
    text-align: center;
    padding-top: 1.5em;
}

.c_title{
    text-align: center;
    padding-top: 2em;
}

.c_contact{
    display: flex;
    justify-content: center;
    border: 1px solid #1877F2;
    width: 99%;
    margin: auto;
    height: fit-content;
    padding-bottom: 2em;
    padding-top: 2em;
    flex-wrap: wrap;
    gap: 2em;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/contact.jpg");
}

.dd_item{
    margin: 1em 0;
}
.d_item h4, .dd_item i, .dd_item h5, .dd_item h4{
    color: #fff;
}

.c_contact input, .c_contact textarea{
    width: 40em;
    max-width: 40em;
    margin: .3em 0;
    height: 3em;
    padding: .5em 1em;
    outline: none;
    border-radius: .5em;
    border: none;
    color: #fff;
    background: rgba(255, 2555, 255, 0.25);
}

.c_contact input:focus, .c_contact textarea:focus{
    outline: 1px solid var(--primaryColor);
    border: 2px solid var(--primaryColor);
}
.c_contact textarea{
    height: 20em;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

.c_contact form button[type="submit"]{
    width: 40em;
    /* max-width: 40em; */
    border-radius: .5em;
    outline: none;
    border: none;
    height: 2.5em;
    background: var(--primaryColor);
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.c_contact form button[type="submit"]:hover{
    filter: brightness(75%);
}

.c_contact form input::placeholder, .c_contact form textarea::placeholder{
    color: #111;
}


/* Form REPONSIVE  */


@media only screen and (max-width: 768px) {
    .c_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .c_contact form input, .c_contact form textarea, .c_contact form button[type="submit"]{
        width: 90%;
        /* margin: auto; */
    }

    /* navbar responsive */

    .navlinks{
        gap: .01em;
    }
}
@media only screen and (max-width: 320px) {
    .c_contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .c_contact form input, .c_contact form textarea, .c_contact form button[type="submit"]{
        width: 90%;
        /* margin: auto; */
    }
}
